/* CSS for the body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0d0d0d;
}

/* CSS for the calculator */
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-auto-rows: 120px;
    gap: 10px;
    padding: 20px;
    background: #0d0d0d;
    border: 2px solid white;
}

/* CSS for the output section */
#output {
    grid-column: span 4;
    background: black;
    color: white;
    text-align: right;
    padding: 15px;
    font-size: 4em;

    overflow: hidden;
    white-space: nowrap;
}

/* CSS for the number buttons */
.number {
    font-size: 4em;
    background: #272727;
    color: white;
}

/* CSS for the operator buttons */
.operator {
    font-size: 4em;
    background: rgb(189, 123, 0);
    color: white;
}

/* CSS for the = button */
#equals {
    font-size: 4em;
    background: green;
    color: white;
}

/* CSS for the clear button */
#clear {
    font-size: 4em;
    background: red;
    color: white;
}

/* Highlight active operator */
.active {
    background: yellow !important;
    color: black;
}