.table-container {
  max-width: 650px;
  overflow-x: auto;
  margin-right: 20px; /* spacing if form is next to table */
}

.name-cell {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grade-cell {
    cursor: pointer;
}