.table-container {
  max-width: 650px;
  overflow-x: auto;
  margin-right: 20px; /* spacing if form is next to table */
}

.name-cell {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grade-cell {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.grade-A {
    color: #6ba43a;
    font-weight: bold;
}

.grade-B {
    color: #9bd9e8;
    font-weight: bold;
}

.grade-C {
    color: #ffbf3c;
    font-weight: bold;
}

.grade-D {
    color: #f18a00;
    font-weight: bold;
}

.grade-F {
    color: #ff5a5a;
    font-weight: bold;
}